<!DOCTYPE html>
<html>
  <head>
    <title>kCal by J.R.</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KEM1PLJZ4C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KEM1PLJZ4C');
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta property="og:title" content="kCal by J.R." />
      <meta name='image' property='og:image' content="<%=image_url('kcal-intro.gif')%>"/>
      <meta 
        property="og:url"
        content="https://kcalbyjr.herokuapp.com/"
     />
      <meta 
        property="og:description"
        content="kCal: a simple way to keep track of one's daily caloric needs."
      />
  
   <%= favicon_link_tag asset_path("favicon-32x32.png") %>
    <%# app/assets/images/favicon-16x16.png %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92fff4274c.js" crossorigin="anonymous"></script>
    <%# <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script> %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
