<!DOCTYPE html>
<html>
  <head>
    <title>KCal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
   <%= favicon_link_tag asset_path("favicon-32x32.png") %>
    <%# app/assets/images/favicon-16x16.png %>
    <script src="https://kit.fontawesome.com/92fff4274c.js" crossorigin="anonymous"></script>
    <%# <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script> %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
